<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Apple</key>
	<dict>
		<key>label</key>
		<string>Apple</string>
		<key>description</key>
		<string>1 large, (242 g/8 oz)</string>
		<key>serving</key>
		<string>1 large, (242 g/8 oz)</string>
	</dict>
	<key>Avocado</key>
	<dict>
		<key>label</key>
		<string>Avocado</string>
		<key>description</key>
		<string>1 medium, (154 g/5.5 oz)</string>
		<key>calories</key>
		<integer>50</integer>
	</dict>
	<key>Banana</key>
	<dict>
		<key>label</key>
		<string>Banana</string>
		<key>calories</key>
		<integer>110</integer>
		<key>description</key>
		<string>1/5 medium, (30 g/1.1 oz)</string>
	</dict>
	<key>Cantaloupe</key>
	<dict>
		<key>label</key>
		<string>Cantaloupe</string>
		<key>description</key>
		<string>1/4 medium, (134 g/4.8 oz)</string>
		<key>calories</key>
		<integer>50</integer>
	</dict>
	<key>Cherry</key>
	<dict>
		<key>label</key>
		<string>Cherry</string>
		<key>description</key>
		<string>21 cherries; 1 cup, (140 g/5.0 oz)</string>
		<key>calories</key>
		<integer>100</integer>
	</dict>
	<key>Grapefruit</key>
	<dict>
		<key>label</key>
		<string>Grapefruit</string>
		<key>description</key>
		<string>1/2 medium, (154 g/5.5 oz)</string>
		<key>calories</key>
		<integer>60</integer>
	</dict>
	<key>Grapes</key>
	<dict>
		<key>label</key>
		<string>Grapes</string>
		<key>description</key>
		<string>3/4 cup, (126 g/4.5 oz)</string>
		<key>calories</key>
		<integer>90</integer>
	</dict>
	<key>Kiwi</key>
	<dict>
		<key>label</key>
		<string>Kiwi</string>
		<key>description</key>
		<string>2 medium, (148 g/5.3 oz)</string>
		<key>calories</key>
		<integer>90</integer>
	</dict>
	<key>Lemon</key>
	<dict>
		<key>label</key>
		<string>Lemon</string>
		<key>description</key>
		<string>A Lemon</string>
	</dict>
	<key>Lime</key>
	<dict/>
	<key>Orange</key>
	<dict>
		<key>label</key>
		<string>Orange</string>
		<key>description</key>
		<string>1 medium, (154 g/5.5 oz)</string>
		<key>calories</key>
		<string></string>
	</dict>
	<key>Pineapple</key>
	<dict>
		<key>label</key>
		<string>Pineapple</string>
		<key>calories</key>
		<integer>50</integer>
		<key>description</key>
		<string>2 slices, 3&quot; diameter, 3/4&quot; thick (112 g/4 oz)</string>
	</dict>
	<key>Strawberry</key>
	<dict>
		<key>label</key>
		<string>Strawberry</string>
		<key>description</key>
		<string>8 medium, (147 g/5.3 oz)</string>
		<key>calories</key>
		<integer>50</integer>
	</dict>
</dict>
</plist>
